body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("wallpaper.jpg") ;
    background-size: cover;
    background-position: center;
    
}

label
{
    width: 200px;
    display: inline-block;
}


#btn
{
    
    
    cursor: pointer;
}
#container{
    text-align: center;
}
.heading
{
    text-align: center;
}
.sign-up-form
{
      width: 500px;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
      background: #8e8ff7;
      padding: 10px;
      margin: 10% auto 0;
      text-align: left;
      margin-top: initial;
      opacity: 10;
}