*
{
    padding: 0;
    margin: 0;
}

.header
{
    height: 60%;
    width: 100%;
    
    
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(mm.jpg) ;
    background-size: cover;
   
    background-attachment: fixed;
    background-position: center;
    padding-top: 20px;
    text-align: center;
    color: #fff;
    
}





.header h1
{
    padding-top: 200px;
    padding-bottom: 0;
    font-size: 55px;
}

.header p{
    margin: 18px 0;
}

.input-group
{
    width: 90% !important;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}

.form-control
{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}

.input-group-text
{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none;
}

.features
{
    padding: 100px 0;
    background-color: rgb(208, 208, 252);
}
.features1
{
    padding: 100px 0;
    background-color: rgb(255, 230, 176);
}
h1
{
    text-align: center;
    padding-bottom: 30px;
}

.feature-img img
{
    width: 100%;
    height: 250px;
    
}

.price1
{
    width: 50px;
    height: 50px;
    background: #fc7f2c;
    color: #fff;
    font-weight: 600;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position: absolute;
    left: 20px;
    bottom: -35px;
}
.price2
{
    width: 50px;
    height: 50px;
    background: #505be7;
    color: #fff;
    font-weight: 600;
    border-radius: 100%;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    position: absolute;
    left: 20px;
    bottom: -35px;
}
.feature-img
{
    position: relative;
}
.rating
{
    padding: 3px ;
    float: right;
    background: #fff;
    bottom: -1px;
    right: 0;
    position: absolute;
}

.feature .fa
{
    font-size: 15px;
    color: #ff5722;

}
.feature-details
{
    padding: 20px;
    text-align:justify;
}

.feature-details h4
{
    font-weight: 600;
    margin-top: 20px;
}
.features-details .fa
{
    margin-right: 5px;
}

.feature-box
{
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    margin-bottom: 30px;
}


.banner
{
    height:80%;
    background-image: url(nn.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 14%;
}





